
#main{

}

#project{
	display:none;
}


body{
	font-family: monospace;
}

h2{
	padding-top: 20px;
}
#visitkort{
	position: relative;
	text-align: center;
	padding-bottom: 40px;
}

#visitkort img{
	margin-right: 10px;
}


.picture{
	margin-bottom: 40px; 
	height: 150px;
	width: 150px;
	border-radius: 100px;
	border: none;
}

a:hover{
	opacity: 50%;
}

#signup{
	margin-left: 45%;
	width: 150px;
	height: 150px;
	position: relative;
	text-align: center;
	padding-bottom: 40px;
}

table{
	border: solid black 1px;
}
td{
	border: solid black 1px;
}